// Basics

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
  font-family: $font-family-sans-serif;
  // font-family: "OpenSans";
}

html {
  font-size: $font-size;
  @media screen and (min-width: $screen-md) {
    font-size: $font-size-screen-md;
  }
  scroll-behavior: smooth;
}
/* Grundeinstellungen für Umbrüche und Anderes
*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.content {
  margin-bottom: 1em;
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
html:before,
html:after {
  box-sizing: inherit;
}
.spaceL {
  margin-left: 16px;
  margin-right: 16px;
}
.block {
  text-align: justify;
}
// Flexanweisungen
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
  @media screen and (max-width: $screen-sm-max) {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.flex-left {
  justify-content: flex-start;
}
.flex-space {
  justify-content: space-between;
}
.flex-right {
  justify-content: flex-end;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}
.pointer {
  cursor: pointer;
}

@media screen and (min-width: $screen-sm) {
  .text {
    margin: 1em 0;
  }
}
/* hyphens */
article {
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.no-break {
  // Zeilenumbruch verhindern
  -moz-hyphens: none;
  -o-hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
a {
  color: $link-color;
  outline: none;
  text-decoration: none;
  //border: 1px solid transparent;

  &:visited {
    color: $link-color;
    outline: none;
    text-decoration: none;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &:focus {
    border: dotted 1px black;
  }
}
.back-top a:hover {
  text-decoration: none;
}
// Bewusst auf link hinweisen
a.link {
  text-decoration: underline;
  color: $link-color;
  &:visited {
    outline: none;
    text-decoration: none;
  }
}
/* .left {
  float: left;
}
.right {
  float: right;
} */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fett {
  font-weight: bold;
}
// Der totale Spinner!

/* <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg> */

$offset: 187;
$duration: 3.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite,
    colors ($duration * 4) ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}
