// Fonts

/* @font-face {
  font-family: "Lobster";
  src: url("../fonts/LobsterTwo-Italic.ttf");
}
@font-face {
  font-family: "Lobster-Bold";
  src: url("../fonts/LobsterTwo-BoldItalic.ttf");
} */
article{
  font-size: $font-size;
}
// Headings
// -------------------------
h1,h2,h3,h4,h5,h6{
  -moz-hyphens: none;
  -o-hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-weight: normal;
}
h1 {
  font-size: $font-size-h1;
  margin: 1em 0;
}
h2 {
  font-size: $font-size-h2;
  margin: 1em 0;
}
h3 {
  font-size: $font-size-h3;
  margin: 0.8em 0;
}
h4 {
  font-size: $font-size-h4;
  margin: 0.5em 0;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}
.produktBanner > h1 {
  font-family: "Lobster";
}
.fontsOn {
  font-family: "Lobster";
  //font-family: italic;
}
.fontsOff { 
  font-family: sans-serif;
}
@media screen and (min-width: $screen-sm) {
  h1 {
    font-size: $font-size-h1;
  }
  h2 {
    font-size: $font-size-h2;
  }
  h3 {
    font-size: $font-size-h3;
  }
  h4 {
    font-size: $font-size-h4;
  }
  h5 {
    font-size: $font-size-h5;
  }
  h6 {
    font-size: $font-size-h6;
  }
  .produktBanner > h1 {
    font-size: $font-size-h1*3;
  }
}